@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

h2 {
  margin: 0;
}

body, html {
  font-family: 'Roboto', sans-serif;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes dissapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}

@keyframes dissapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}

@-webkit-keyframes spinning-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinning-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main__header {
  text-align: center;
}

.logo img {
  width: 190px;
  height: 37px;
  margin: 22px 0px 10px 0px;
}

@media screen and (max-width: 425px) {
  .logo img {
    width: 150px;
    height: 30px;
  }
}

footer {
  display: block;
  background-color: #353535;
  margin: 0;
  border: 0;
  font-size: 100%;
  padding: 2px;
  color: white;
}

footer h3 {
  font-family: "Shrikhand";
  padding: 5px 0 0 35px;
  font-weight: 100;
}

footer a {
  color: white;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  padding: 5px 0 5px 0;
}

footer ul .fa-utensils {
  margin-right: 5px;
}

footer ul .fa-hands-helping {
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  footer {
    text-align: center;
  }
}

.explore {
  background: #f6f6f6;
  text-align: center;
  width: 100%;
  padding: 40px 0;
}

.explore h2 {
  font-weight: bolder;
}

.explore p {
  color: #4d4d4d;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #9356DC;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #9356DC;
  width: 25px;
  height: 25px;
  position: relative;
  right: 10px;
}

@media screen and (min-width: 768px) {
  .number {
    right: 0;
    top: -15px;
  }
}

@media screen and (min-width: 768px) {
  .restaurant__title {
    width: 100%;
  }
}

.restaurant__title h3 {
  padding: 30px 0px 0px 10px;
}

@media screen and (min-width: 768px) {
  .restaurant__title h3 {
    text-align: center;
  }
}

.frame {
  border-radius: 13px;
  -webkit-box-shadow: 4px 4px 6px #aaa;
          box-shadow: 4px 4px 6px #aaa;
  margin: 20px 20px 5px 20px;
  position: relative;
  background: #fff;
}

@media screen and (min-width: 768px) {
  .frame {
    width: 40%;
  }
}

.frame img {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  width: 100%;
  height: 40vw;
}

.main__restaurant {
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 60px;
}

.main__restaurant h2 {
  padding: 50px 0px 0px 20px;
}

@media screen and (min-width: 1280px) {
  .main__restaurant h2 {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .main__restaurant h2 {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .main__restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

@media screen and (min-width: 1280px) {
  .main__restaurant {
    padding: 0 20%;
  }
}

.heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4px;
}

.frame figure {
  margin: 0;
}

.frame figcaption {
  margin: 0;
  padding: 5px;
}

.frame figcaption p {
  line-height: 5px;
  margin: 0px 0px 10px 5px;
}

.heart h4 {
  margin: 0;
  font-size: 1.1rem;
}

.heart span .far {
  margin: 5px 15px 0px 0px;
}

.loadingSpinner {
  -webkit-animation: dissapear 2400ms both;
          animation: dissapear 2400ms both;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  background-color: #FFF;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.loadingSpinner:before {
  content: '';
  display: inline-block;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.loadingSpinner__container {
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 15px solid #99E2D0;
  border-radius: 50%;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
}

.loadingSpinner__inner {
  -webkit-animation: linear spinning-animation 2000ms infinite;
          animation: linear spinning-animation 2000ms infinite;
  background: linear-gradient(150deg, #9356DC, #FF79DA);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  border-radius: 50%;
  height: 50%;
  width: 50%;
}

.main__menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  position: relative;
  margin-top: -50px;
}

@media screen and (min-width: 1280px) {
  .full__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.starter {
  -webkit-animation: fadein 3s ease-in-out;
          animation: fadein 3s ease-in-out;
}

@media screen and (min-width: 1280px) {
  .starter {
    width: 400px;
  }
}

.dish {
  -webkit-animation: fadein 6s ease-in-out;
          animation: fadein 6s ease-in-out;
}

@media screen and (min-width: 1280px) {
  .dish {
    width: 400px;
  }
}

.dessert {
  -webkit-animation: fadein 9s ease-in-out;
          animation: fadein 9s ease-in-out;
}

@media screen and (min-width: 1280px) {
  .dessert {
    width: 400px;
  }
}

.validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  width: 50px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
}

.validation .fa-check-circle {
  color: #fff;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.line {
  width: 40px;
  border: 2px solid #99E2D0;
  margin-left: 10px;
}

.process {
  margin-bottom: 50px;
}

.process h2 {
  padding: 40px 20px 20px 20px;
}

.process__steps {
  padding-left: 25px;
  list-style-type: none;
}

.process__steps li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 10px 10px 10px 5px;
  margin: 15px 20px 20px 5px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 2px 8px 2px #c4c4c4;
          box-shadow: 1px 2px 8px 2px #c4c4c4;
  background-color: #f5f5f5;
}

.process__steps li p {
  font-size: 15px;
  font-weight: 500;
  margin-left: 20px;
}

.process__steps li:hover {
  background: #f2eafb;
}

.process__steps li:hover .fas {
  color: #9356dc;
}

.process__steps--number {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  padding: 5px 9px;
  margin-left: -18px;
  font-size: 12px;
}

.process__steps--icon {
  color: grey;
  font-size: 1.2rem;
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .process h2 {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .process__steps {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .process__steps li {
    padding: 5px 25px 5px 25px;
  }
}

.Localization {
  background: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0px 5px 5px 0px #dddddd;
          box-shadow: inset 0px 5px 5px 0px #dddddd;
}

.Localization__search input {
  border: none;
  background: #eaeaea;
  font-size: 1rem;
  padding: 20px 5px 20px 5px;
  margin-top: 5px;
  text-align: center;
  width: 150px;
}

.btn__explore button {
  z-index: 0;
  font-size: 0.9em;
  font-weight: 500;
  margin: 19px 0px;
  padding: 17px 22px;
  border-radius: 50px;
  border: none;
  outline: none;
  color: #f8f5f5;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 6px 2px #bfbdbd;
          box-shadow: 0px 3px 6px 2px #bfbdbd;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.btn__explore button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#a16be0), to(#ff93e1));
  background: linear-gradient(0deg, #a16be0, #ff93e1);
  -webkit-box-shadow: 0px 3px 6px 2px #a6a3a3;
          box-shadow: 0px 3px 6px 2px #a6a3a3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.new {
  color: #008766;
  background: #99E2D0;
  border: 5px solid #99E2D0;
  font-size: 13px;
  font-weight: bolder;
  border-radius: 2px;
  padding: 2px 4px;
  position: absolute;
  right: 4%;
  top: 5%;
}

.fill {
  color: black;
  cursor: pointer;
}

.fill:hover {
  -webkit-animation: fill 0.3s ease-in-out;
          animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: -webkit-gradient(linear, right top, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.header__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back {
  position: absolute;
  left: 20px;
}

.menu__title {
  font-family: Shrikhand, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

@media screen and (min-width: 1280px) {
  .menu__title {
    padding: 10px 90px;
  }
}

.meals {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  -webkit-box-shadow: 4px 4px 6px #aaa;
          box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: padding-right 450ms ease-in-out;
  transition: padding-right 450ms ease-in-out;
}

.meals:hover {
  padding-right: 75px;
}

.meals:hover .validation {
  opacity: 1;
  -webkit-transform: translate(-50px);
          transform: translate(-50px);
}

.meals:hover .fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5em;
}

.information p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .information p {
    padding-right: 20px;
  }
}

.information span {
  margin-right: 5px;
}

.meals h4 {
  margin: 0;
}

.starter h3, .dish h3, .dessert h3 {
  padding-left: 10px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.btn__order button {
  z-index: 0;
  font-size: 0.9em;
  font-weight: 500;
  margin: 19px 0px;
  padding: 17px 22px;
  border-radius: 50px;
  border: none;
  outline: none;
  color: #f8f5f5;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 6px 2px #bfbdbd;
          box-shadow: 0px 3px 6px 2px #bfbdbd;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  margin: 30px 0;
  padding: 20px;
  width: 50%;
}

@media screen and (min-width: 1280px) {
  .btn__order button {
    width: 25%;
  }
}

.btn__order button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  -webkit-box-shadow: 4px 4px 6px #000;
          box-shadow: 4px 4px 6px #000;
}

.btn__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */