.loadingSpinner {
  animation: dissapear 2400ms both;
  animation-delay: 1000ms;
  background-color: #FFF;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999; }

  .loadingSpinner:before {
    content: '';
    display: inline-block;
    height: 100%;
    text-align: center;
    vertical-align: middle; }

  .loadingSpinner__container {
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 15px solid #99E2D0;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    overflow: hidden; }
    
  .loadingSpinner__inner {
    animation: linear spinning-animation 2000ms infinite;
    background: linear-gradient(150deg, #9356DC, #FF79DA);
    transform-origin: 100% 100%;
    border-radius: 50%;
    height: 50%;
    width: 50%; }


    
.up {
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}

.up--1 {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}

.up--2 {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}

.up--3 {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}

.up--4 {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}

.up--5 {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}

.up--6 {
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}

.up--7 {
  -webkit-animation-delay: 1400ms;
  animation-delay: 1400ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}

.up--8 {
  -webkit-animation-delay: 1600ms;
  animation-delay: 1600ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}

.up--9 {
  -webkit-animation-delay: 1800ms;
  animation-delay: 1800ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}

.up--10 {
  -webkit-animation-delay: 2000ms;
  animation-delay: 2000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadein {
  from {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

