.main__menu {
  @include main-menu;
}
.full__menu {
  @include desktop {
    display: flex;
    justify-content: space-around;
  }
}

.starter__title{
  font-size: 12px;
  padding-left: 10px;
}

.dish__title{
  font-size: 12px;
  padding-left: 10px;
  margin-top: 50px;
  @include desktop{
    margin-top: 0;
  }
}

.dessert__title{
  font-size: 12px;
  padding-left: 10px;
  margin-top: 50px;
  @include desktop{
    margin-top: 0;
  }
}

.meals p{
  margin: 0;
}

.information{
  font-size: 14px;
}

.starter {
  @include desktop {
    width: 400px;
  }
}
.dish {
  @include desktop {
    width: 400px;
  }
}
.dessert {
  @include desktop {
    width: 400px;
  }
}
.validation {
  @include validation;
}
.line {
  width: 40px;
  border: 2px solid $color-tertiary;
  margin-left: 2px;
  margin-bottom: 13px;
}
