.process {
	margin-bottom: 50px;
	h2 {
		padding: 40px 20px 20px 20px;
	}
}

.process__steps {
	padding-left: 25px;
	list-style-type: none;
	@include tablet{
		margin-left: 20px;
	}
	li {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		padding: 10px 10px 10px 5px;
		margin: 15px 20px 20px 5px;
		border-radius: 20px;
		box-shadow: 1px 2px 8px 2px #c4c4c4;
		background-color: #f5f5f5;
		p {
			font-size: 15px;
			font-weight: 500;
			margin-left: 20px;
		}
		&:hover {
			background: #f2eafb;
			.fas {
				color: #9356dc;
			}
		}
		@include tablet{
			padding-right: 35px;
			margin-right: 35px;
		}
	}
}
.process__steps--number {
	background-color: #9356dc;
	color: white;
	border-radius: 50%;
	padding: 5px 9px;
	margin-left: -18px;
	font-size: 12px;
	@include desktop{
		margin-left: -35px;
	}
}
.process__steps--icon {
	color: grey;
	font-size: 1.2rem;
	margin-left: 15px;
}

.process h2 {
	@include tablet{
		text-align: center;
	}
}	

@media screen and (min-width: 768px) {
	.process__steps {
		flex-wrap: wrap;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}

.process__steps li{
	@include desktop{
		padding: 5px 25px 5px 25px;
	}
}