@mixin Localization {
  border: none;
  background: #eaeaea;
  font-size: 1rem;
  padding: 20px 5px 20px 5px;
  margin-top: 5px;
  text-align: center;
  width: 150px;
}
@mixin explore {
  background: #f6f6f6;
  text-align: center;
  width: 100%;
  padding: 40px 0;
}
@mixin btn-explore {
  z-index: 0;
  font-size: 0.9em;
  font-weight: 500;
  margin: 19px 0px ;
  padding: 17px 22px;
  border-radius: 50px;
  border: none;
  outline: none;
  color: #f8f5f5;
  background: $linear-gradient;
  cursor: pointer;
  box-shadow: 0px 3px 6px 2px #bfbdbd;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms; 
}

@mixin rule-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-primary;
  color: #fff;
  border-radius: 50%;
  border: 2px solid $color-primary;
  width: 25px;
  height: 25px;
  position: relative;
  right: 10px;

}

@mixin btn-frame {
  color: #008766;
  background: $color-tertiary;
  border: 5px solid $color-tertiary;
  font-size: 13px;
  font-weight: bolder;
  border-radius: 2px;
  padding: 2px 4px;
  position: absolute;
  right: 4%;
  top: 5%;
}
@mixin frame {
  border-radius: 13px;
  box-shadow: 4px 4px 6px #aaa;
  margin: 20px 20px 5px 20px ;
  position: relative;
  background: #fff;
}
@mixin frame-img {
  object-fit: cover;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  width: 100%;
  height: 40vw;
}
@mixin frame-figure {
  margin: 0;
}
@mixin frame-figcaption {
  margin: 0;
  padding: 5px;
}
@mixin menu-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin main-menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  position: relative;
  margin-top: -50px;
}
@mixin menu-title {
  font-family: Shrikhand, sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
}
@mixin meals {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
  &:hover {
    padding-right: 75px;
  }
  &:hover .validation {
    opacity: 1;
    transform: translate(-50px);
  }
  &:hover .fa-check-circle {
    transform: rotate(360deg) ;
  }
}

@mixin validation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-tertiary;
  width: 50px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
  & .fa-check-circle {
    color: #fff;
    transition: transform 500ms ease-in-out;
  }
}
@mixin tablet {
  @media screen and (min-width:map-get($breakpoints, tablet)){
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width:map-get($breakpoints, desktop)){
    @content;
  }
}
@mixin large {
  @media screen and (min-width:map-get($breakpoints, large)){
    @content;
  }
}

@mixin medium-screen {
  @media screen and (min-width: map-get($breakpoints, medium)) {
    @content;
  }
}