//Code couleur

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$linear-gradient: linear-gradient(0deg, #9356DC, #FF79DA);
$fond-gris-footer: #353535;
$font-cursive: 'Shrikhand', cursive;
